<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div><a href="https://www.SmartTodoApp.com" class="navbar-brand">SmartTodoApp</a></div>

<ul class="navbar-nav">
    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/SmartTodoApp" class="nav-link">Home</a></li>
    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/Todos" class="nav-link">Todos</a></li>
</ul>

<ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
    <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
</ul>

    </nav>

</header>